.splashWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

// Common styles for both images
.backCar,
.frontCar {
  &:before,
  &:after {
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    background: $gray;
  }
}

// Car Lines
.backCar {
  &:before {
    width: 200vh;
  }
}
