.splash-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

// Additional Elements for Cars (lines etc.)
.back-car {
  &:before {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    background: red;
  }
}
