/* Local Variables */
$BUTTON_HEIGHT: 60 !default;

.button {
  display: block;
  width: 100%;
  height: remcalc($BUTTON_HEIGHT);
  margin: 0 auto;
  font-size: remcalc(17);
  font-weight: $medium;
  line-height: remcalc($BUTTON_HEIGHT);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: $radius;

  &:not(:last-child) {
    margin-bottom: remcalc(24);
  }

  &.primary {
    color: $white;
    background: $robinblue;
  }

  &.secondary {
    color: $robinblue;
    background: transparent;
  }

  &:focus {
    outline: 0;
  }
}
