$BOX_HEIGHT: 130 !default;
$FONT_SIZE: 92 !default;

.wrapper {
  width: 100%;
  height: remcalc($BOX_HEIGHT);
  margin: 0 auto remcalc(36);
  font-size: remcalc($FONT_SIZE);
  line-height: remcalc($BOX_HEIGHT + 10);
  color: $white;
  text-align: center;
  border: 1px solid $lightwhite;
  border-radius: $radius;
  user-select: none;

  &.reserved {
    background: $deepblue;
    border-color: $deepblue;
  }

  &.disabled {
    color: rgba($cornflowerblue, .2);
    background: rgba($cornflowerblue, .2);
    border: 0;
  }
}
