.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 24px;
  width: 100%;
  max-width: 540px;
  min-height: 100vh;
  background: linear-gradient(135deg, $governorbay 0%, $darkblue 110%);
}
