.wrapper {
  display: flex;

  position: relative;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, $governorbay 0%, $darkblue 110%);

  @include breakpoint(small) {
    align-items: center;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-height: remcalc(667);
    margin: 0 auto;
    padding: remcalc(44) remcalc(28);
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint(small) {
      max-width: remcalc(420);
      overflow: hidden;
      border: 1px solid rgba($gray, .2);
    }
  }

  &.isHome {
    .container {
      justify-content: center;
    }
  }

  &.isWhite {
    background: linear-gradient(135deg, $white 0%, $lightblue 110%);

    .container {
      @include breakpoint(small) {
        border: 1px solid rgba($deepblue, .1);
      }
    }
  }
}
