.header {
  display: flex;
  margin: 0 0 20px;

  .header-date {
    align-self: center;
    letter-spacing: .8px;

    .date-today {
      margin: 0 0 0 4px;
    }
  }

  .header-action {
    margin: 0 0 0 auto;
  }

  /* Themes */
  &.header-dark {
    .date-today {
      color: $cornflowerblue;
    }
  }

  &.header-light {
    .header-date  {
      color: $lightgray;
    }
  }
}
