$HEADER_MAX_SIZE: 54 !default;

.header {
  position: relative;
  z-index: $z-top;
  display: flex;
  flex: 0 1 remcalc($HEADER_MAX_SIZE);
  margin: 0 0 remcalc($HEADER_MAX_SIZE / 8);
  font-size: remcalc(17);

  .headerDate {
    line-height: 1.9;
    letter-spacing: remcalc(.8);

    .dateToday {
      margin: 0 0 0 remcalc(4);
    }
  }

  .headerAction {
    margin: 0 0 0 auto;
  }

  .icon + .icon {
    margin-left: 3rem
  }

  .powerIcon, .settingsIcon {
    cursor: pointer;

    &:active {
      opacity: .6;
    }
  }

  /* Themes */
  &.isDark {
    .dateToday {
      color: $cornflowerblue;
    }

    .powerIconFill, .settingsIconFill {
      fill: #fff;
    }
  }

  &.isLight {
    .headerDate {
      color: $lightgray;
    }

    .powerIconFill, .settingsIconFill {
      fill: $governorbay;
    }
  }

  @media only screen and (min-height: 667px) {
    flex: 0 1 remcalc($HEADER_MAX_SIZE * 1.6);
  }
}
