.content {
  flex: 1 1 auto;

  &.spaceBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.blueHint {
  margin: 0 0 remcalc(24);
  color: $cornflowerblue;
  font-size: remcalc(17);
  line-height: remcalc(26);

  .blueHintLine {
    display: block;
  }
}
